*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
}

:root {
  --wrong-located: hsl(49, 51%, 57%);
  --green-1: hsl(115, 29%, 53%);
  --green-2: hsl(115, 29%, 38%);

  --opacity-tone: hsl(0, 100%, 100%, 0.5);
  --color-tone-0: white;
  --color-tone-1: hsl(240, 2%, 10%);
  --color-tone-2: hsl(200, 2%, 48%);
  --color-tone-3: hsl(204, 2%, 54%);
  --color-tone-4: hsl(214, 9%, 84%);
  --color-tone-5: hsl(210, 12%, 94%);
  --color-tone-6: hsl(210, 12%, 97%);
  --color-tone-7: hsl(0, 0%, 100%);

  --color-wrong: var(--color-tone-2);

  --hue: 214;
  --saturation: 9%;
  --lightness: 84%;
  --lightness-offset: 0%;
  --hue-tone: 200;
  --saturation-tone: 2%;
  --lightness-tone: 48%;
}

.dark-theme {
  --opacity-tone: hsl(0, 0%, 0%, 0.5);
  --color-tone-0: black;
  --color-tone-1: hsl(204, 7%, 85%);
  --color-tone-2: hsl(200, 1%, 51%);
  --color-tone-3: hsl(200, 1%, 34%);
  --color-tone-4: hsl(210, 1%, 34%);
  --color-tone-5: hsl(240, 2%, 23%);
  --color-tone-6: hsl(240, 2%, 10%);
  --color-tone-7: hsl(240, 3%, 7%);

  --color-wrong: var(--color-tone-4);

  --hue: 200;
  --saturation: 1%;
  --lightness: 51%;
  --lightness-offset: 0%;
  --hue-tone: 240;
  --saturation-tone: 2%;
  --lightness-tone: 23%;
}

.colorblind {
  --wrong-located: hsl(209, 91%, 75%);
  --green-1: hsl(20, 90%, 59%);
  --green-2: var(--green-1);
}

body {
  overflow: hidden;
  background-color: var(--color-tone-7);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 500px;
  font-size: clamp(.5rem, 2.5vmin, 1.5rem);
  padding-bottom: 1em;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1fr));
  grid-auto-rows: 3em;
  gap: 0.3em;
  justify-content: center;
  transition: filter 200ms ease-in-out;
}

.key {
  font-size: inherit;
  grid-column: span 2;
  border: none;
  padding: 1em;
  font-size: 0.75em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(
    var(--hue),
    var(--saturation),
    calc(var(--lightness-offset) + var(--lightness))
  );
  color: var(--color-tone-1);
  fill: var(--color-tone-1);
  text-transform: uppercase;
  border-radius: .25em;
  cursor: pointer;
  user-select: none;
}

.key > svg {
  width: 1.75em;
  height: 1.75em;
}

.key.large {
  grid-column: span 3;
}

.key:hover, .key:focus {
  --lightness-offset: 10%;
}
 
.key.wrong {
  color: white;
  --hue: var(--hue-tone);
  --saturation: var(--saturation-tone);
  --lightness: var(--lightness-tone);
}

.key.wrong-located {
  color: white;
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%;
}

.key.correct {
  color: white;
  --hue: 115;
  --saturation: 29%;
  --lightness: 47%;
}

.guess-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: 5px;
  margin-bottom: 0.75em;
  transition: filter 200ms ease-in-out;
}

.tile {
  font-size: 2em;
  color: var(--color-tone-1);
  border: 2px solid var(--color-tone-4);
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: transform 250ms linear;
}

.tile.shake {
  animation: shake 250ms ease-in-out;
}

.tile.dance {
  animation: dance 500ms ease-in-out;
}

.tile.expand {
  animation: expand 150ms ease-in-out;
}

@keyframes expand {
  10% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dance {
  20% {
    transform: translateY(-50%);
  }

  40% {
    transform: translateY(5%);
  }

  60% {
    transform: translateY(-25%);
  }

  80% {
    transform: translateY(-2.5%);
  }

  90% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  10% {
    transform: translateX(-5%);
  }

  30% {
    transform: translateX(5%);
  }

  50% {
    transform: translate(-7.5%);
  }

  70% {
    transform: translate(7.5%); 
  }

  90% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(0);
  }
}

.tile.flip {
  transform: rotateX(90deg);
}

.tile[data-state="active"] {
  border-color: var(--color-tone-2);
}

.tile[data-state="wrong"] {
  color: white;
  border: none;
  background-color: var(--color-wrong);
}

.tile[data-state="wrong-located"] {
  color: white;
  border: none;
  /* background-color: hsl(49, 51%, 47%);*/
  background-color: var(--wrong-located);
}

.tile[data-state="correct"] {
  color: white;
  border: none;
  background-color: var(--green-1);
}

.alert-container {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 99;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.alert {
  pointer-events: none;
  background-color: var(--color-tone-1);
  padding: 0.75em;
  border-radius: 0.25em;
  opacity: 1;
  transition: opacity 350ms ease-in-out;
  margin-bottom: 0.5em;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}

.final-menu-container {
  position: absolute;
  width: 500px;
  height: 100%;
  opacity: 1;
  visibility: visible;
  background-color: var(--opacity-tone);
  transition: opacity 150ms ease-in, visibility 150ms ease-in;
  z-index: 10;
}

.final-menu-container.hide {
  opacity: 0;
  visibility: hidden;
  /* transform: translateY(-40%); */
}

.final-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--color-tone-6);
  height: max-content;
  padding: 2em 3em;
  border-radius: .5em;
  background-color: var(--color-tone-7);
  color: var(--color-tone-1);
  fill: var(--color-tone-3);
  z-index: 20;
}

.close-button {
  position: absolute;
  top: 0.75em;
  right: 0.75em;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.close-button > svg {
  height: 24px;
  width: 24px;
}

.close-button:hover path {
  fill: var(--color-tone-1)
}

.final-menu-title {
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  margin-bottom: 0.5em;
}

.statistics {
  display: flex;
  column-gap: 1.25em;
  margin-bottom: 1.25em;
}

.statistic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statistic :nth-child(1) {
  font-size: 2.5em;
}

.statistic :nth-child(2) {
  font-size: 0.75em;
  word-wrap: break-word;
}

.guess-distribution {
  color: white;
  margin-bottom: 1.25em;
  display: flex;
  flex-direction: column;
  row-gap: 0.25em;
  justify-content: left;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
}

.bar {
  font-weight: bold;
  margin-left: 0.25em;
  padding: 0 0.5em;
  background-color: var(--color-tone-2);
  text-align: right;
}

.bar.highlighted {
  background-color: var(--green-1);
}

.play-again-button {
  cursor: pointer;
  color: white;
  border: 0;
  background-color: var(--green-1);
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.75em 1.75em;
}

.play-again-button:hover {
  background-color: var(--green-2);
}

.tool-bar {
  width: 100%;
  display: flex;
  color: var(--color-tone-1);
  border-bottom: 1px solid var(--color-tone-4);
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  text-transform: uppercase;
  margin-bottom: 0.75em;
  transition: filter 200ms ease-in-out;
}

.tool-bar h1 {
  pointer-events: none;
  letter-spacing: 0.2rem;
  padding: 0.2em 0;
}

.tool-bar-menu {
  display: flex;
  column-gap: 1.5em;
}

.tool-bar-button {
  display: grid;
  place-content: center;
  background: none;
  border: none;
  fill: var(--color-tone-4);
  height: 1em;
  width: 1em;
  cursor: pointer;
}

.tool-bar-button > svg {
  height: 24px;
  width: 24px;
}

.tool-bar-button:hover path {
  fill: var(--color-tone-1);
}



.settings-menu, .hint-menu {
  position: fixed;
  color: var(--color-tone-1);
  fill: var(--color-tone-3);
  background-color: inherit;
  height: 100%;
  width: 500px;
  opacity: 1;
  visibility: visible;
  transition: opacity 150ms ease-in, visibility 150ms ease-in;
  z-index: 99;
}

.settings-menu.hide, .hint-menu.hide {
  opacity: 0;
  visibility: hidden;
}

.settings-menu h1,
.hint-menu h1 {
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  padding: 0.75em 0;
}

.menu-settings-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  border-bottom: 1px solid var(--color-tone-3);
}

.menu-settings-section > div {
  display: flex;
  flex-direction: column;
}

.section-description {
 font-size: 0.75em;
 color: var(--color-tone-2);
}

.checkbox-container {
  position: relative;
  height: 1em;
  width: 2em;
  cursor: pointer;
}

.checkbox-container input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  border-radius: 999px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-tone-4);
}

.checkmark-ball {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  border-radius: 50%;
  background-color: var(--color-tone-1);
  transition: left 300ms ease-in-out;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--green-1);
}

.checkbox-container input:checked ~ .checkmark-ball {
  left: 50%;
}

.restart-button {
  cursor: pointer;
  border: none;
  padding: 0.75em;
  border-radius: 0.25em;
  background-color: var(--green-1);
  color: var(--color-tone-0);
  text-transform: uppercase;
  font-weight: bold;
}

.restart-button:hover {
  background-color: var(--green-2);
}

.menu-hint-section {
  font-size: 0.9rem;
  padding: 1em 0;
  border-bottom: 1px solid var(--color-tone-3);
}

.word-example {
  display: flex;
  column-gap: 0.25em;
}

.word-example .tile {
  width: 1.5em;
  height: 1.5em;
}

.menu-hint-section > * {
  margin-bottom: 1em;
}

.menu-hint-section :nth-last-child(1) {
  margin-bottom: 0;
}


